.container {
  /* stylelint-disable-next-line unit-allowed-list */
  height: 500px;
  /* stylelint-disable-next-line unit-allowed-list */
  width: 500px;

  .scrollbar-wrapper {
    /* stylelint-disable-next-line unit-allowed-list */
    border: 2px dashed black;
  }
}
